<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Course_ATA_2023"
        tools:targetApi="31">
        <activity
            android:name=".Section0.Project1.TeamsPlayersHomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Section101.Retrofit.ApiPostsActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Section0.Retrofit.RetrofitMainActivity"
            android:exported="true" >
        </activity>

        <service
            android:name=".Section101.Services.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Section101.Services.MusicPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.Threads.CounterActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.Threads.CounterThreadMainActivity"
            android:exported="true" />

        <service
            android:name=".Section0.Services.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Section0.Services.ServicesMainActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.Notifications.ShowNotificationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Section0.Notifications.ChatNameActivity"
            android:exported="false" />
        <activity
            android:name=".Section0.Notifications.NotificationMainActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.NavigationDrawer.NavigationDrawerActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.BottomNavigation.BottomNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.NavigationDrawer.NavDrawerMainActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.FragmentDialogs.AllCarsActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.BottomNavigation.BottomNavigationMainActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.FragmentDialog.DialogsHomeActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.TabLayoutWithViewPager.ProductsCatMainActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.TabLayoutWithViewPager2.TabsMainActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.Fragments_Part2.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Android_Course_ATA_2023" />
        <activity
            android:name=".Section101.Fragments.FragmentsViewActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.Fragments.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Android_Course_ATA_2023" />
        <activity
            android:name=".Section101.RoomDatabasePart2.PlayersViewActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.RoomDatabase.ViewStudentsRoomActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.RoomDataBase.ProductsViewRoomActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.Revision2.AllStudentsActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.Revision2.ProductsViewActivity"
            android:exported="true" />
        <activity
            android:name=".Section101.Revision1.StudentsViewActivity"
            android:exported="true" />
        <activity
            android:name=".Section0.Revision1.ProductsViewActivity"
            android:exported="true" />
    </application>

</manifest>